Client/Connected Services/ServerStockService/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="ArrayOfKeyValueOfdoubleQueueOfPlaceOrderData7f47x_P8ftwCi8m_S7">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfdoubleQueueOfPlaceOrderData7f47x_P8ftwCi8m_S7">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:double" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" name="Value" nillable="true" type="q1:QueueOfPlaceOrderData7f47x_P8f" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfdoubleQueueOfPlaceOrderData7f47x_P8ftwCi8m_S7" nillable="true" type="tns:ArrayOfKeyValueOfdoubleQueueOfPlaceOrderData7f47x_P8ftwCi8m_S7" />
</xs:schema>