Client/Connected Services/ServerStockService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlaceOrderData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="IsBuy" type="xs:boolean" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlaceOrderData" nillable="true" type="tns:PlaceOrderData" />
  <xs:complexType name="StockData">
    <xs:sequence>
      <xs:element minOccurs="0" name="StockPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockData" nillable="true" type="tns:StockData" />
  <xs:complexType name="TradeOrderData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyUserId" type="xs:int" />
      <xs:element minOccurs="0" name="SellUserId" type="xs:int" />
      <xs:element minOccurs="0" name="TradePrice" type="xs:double" />
      <xs:element minOccurs="0" name="TradeQuantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradeOrderData" nillable="true" type="tns:TradeOrderData" />
  <xs:complexType name="MarketOrderBookData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyPendingOrders" nillable="true" type="tns:ArrayOfPlaceOrderData" />
      <xs:element minOccurs="0" name="SellPendingOrders" nillable="true" type="tns:ArrayOfPlaceOrderData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketOrderBookData" nillable="true" type="tns:MarketOrderBookData" />
  <xs:complexType name="ArrayOfPlaceOrderData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlaceOrderData" nillable="true" type="tns:PlaceOrderData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlaceOrderData" nillable="true" type="tns:ArrayOfPlaceOrderData" />
</xs:schema>